@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body {
    background-image: linear-gradient(to bottom right, #46045a, #000116);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


/* navbar styling */
.navbar {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    z-index: 999;
    position: fixed;
    padding: 15px 0;
    background: #000116;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo:hover {
    transform: scale(1.05);
}
.logo img {
    height: 130px;
}
.navbar .nav-menu li {
    list-style: none;
    display: inline-block;
}
.navbar .nav-menu li a {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
.navbar .nav-menu li a:hover {
    color: crimson;
}
.hide {
    display: none;
}
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
}



/* .header {
    margin-top: 5px;
}
.name {
    padding-top: 10px;
    font-size: 60px;
    font-family: 'spartan';
    font-weight: 600;
}
.summary-text, .p-summary {
    font-size: 25px;
    background-image: linear-gradient(60deg, #E21143, #faa11c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.avatar {
    height: 54vh;
}
.about {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(60deg, #E21143, #faa11c);
    padding: 20px 50px;
    border-radius: 5px;
}
.about:hover {
    background-image: linear-gradient(60deg, #df496c, #b48238);
    color: #fff;
}
.center {
    text-align: center;
    margin-top: 50px;
}
.my-summary {
    text-align: justify;
}
.projects {
    margin-top: 10px;
    display: block;
}
.heading h3 {
    text-align: center;
    font-family: 'spartan';
    font-weight: 600;
    font-size: 40px;
    padding-top: 30px;
}
.project-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}
.project {
    margin: 10px 20px ;
    width: calc(30% - 20px);
}
.project p {
    text-align: justify;
    padding: 20px 5px;
}
.project a {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(60deg, #E21143, #faa11c);
    padding: 10px 20px;
    border-radius: 5px;
    float: right;
}
.proj_name {
    text-align: center;
}
.icon-img {
    float: right;
    margin-left: -100px;
    margin-top: -80px;
    height: 350px;
    width: auto;
    -webkit-transform:rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
}
.txt-desc {
    font-size: 20px;
}
.txt-desc p {
    text-align: justify;
    word-spacing: 0.2em;
    position: relative;
}
.collaborate {
    width: 100%;
} */












/* .wrapper-img {
    position: relative;
}
.wrapper-img-1{
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    height: 65vh;
}
.wrapper-img-2 {
    height: 65vh;
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
} */







/* img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

section {
    position: relative;
    top: 0;
    bottom: auto;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
} */