body{
    background-image: linear-gradient(to bottom right, #46045a, #000116);
    margin: 0;
    height: 200vh;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.wrapper-img {
    position: relative;
}
.wrapper-img-1{
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    /* width: 100%; */
    height: 65vh;
}
.wrapper-img-2 {
    height: 65vh;
    position: relative;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
}
img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.navbar-container, .header, .projects {
    position: absolute;
    left: 10%;
    top: 0%;
    right: 10%;
    bottom: auto;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    color: #ffffff;
}
.logo-img {
    height: 130px;
}
.nav-menu {
    margin: auto;
    text-align: center;
}
.nav-menu a {
    margin-left: 50px;
    text-decoration: none;
    color: #fff;
}
.nav-menu a:hover {
    color: rgb(220, 20, 60);
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}
.header {
    margin-top: 10vh;
}
.name {
    padding-top: 15vh;
    font-size: 60px;
    font-family: 'spartan';
    font-weight: 600;
}
.summary-text {
    font-size: 25px;
    background-image: linear-gradient(60deg, #E21143, #faa11c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.avatar {
    height: 54vh;
}
.about {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(60deg, #E21143, #faa11c);
    padding: 20px 50px;
    border-radius: 5px;
}
.about:hover {
    background-image: linear-gradient(60deg, #df496c, #b48238);
    color: #fff;
}
.center {
    text-align: center;
    margin-top: 50px;
}
.my-summary {
    text-align: justify;
}
.projects {
    margin-top: 65vh;
    display: block;
}
.heading h3 {
    text-align: center;
    font-family: 'spartan';
    font-weight: 600;
    font-size: 40px;
    padding-top: 30px;
}
.project-section {
    padding: 10px;
}
.project {
    margin-top: 20px;
}
.proj_name {
    text-align: center;
}